<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=pageName %></title>
  <script src="/js/jquery.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


  <h1><%=pageName %></h1>

  <div class=container>
    <% for(let team of teams){ %>
    <div>
      <span><%=team.name %></span>
      <p>Coached by <%=team.coach%></p>
      <a href="/team/<%=team.homePage%>" alt=""><%=team.name %>'s Home</a>
    </div>
    <% } %>
  </div>

</body>
</html>